<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>apiTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BBCABD51EA2CB9700774C7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBCABE91EA2CB9800774C7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBCABF41EA2CB9800774C7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
